<html>
    <head>
        <title>Chat</title>
        <style>
            input   { display: block; }
            ul      { list-style: none;}
        </style>
    </head>
    <body>
        <h1>Let's Chat</h1>
        <ul id="messages"></ul>
        <form id="chatbox">
            <textarea></textarea>
            <input type="submit" value="Send" />
        </form>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script>
            $(function() {
                var socket = null;
                var msgBox = $("#chatbox textarea");
                var messages = $("#messages");
                $("#chatbox").submit(function(){
                    if (!msgBox.val()) return false;
                    if (!socket) {
                        alert("ERROR: There is no socket connection.");
                        return false;
                    }
                    socket.send(msgBox.val());
                    msgBox.val("");
                    return false;
                });
                if (!window["WebSocket"]) {
                    alert("Error: Your browser does not support websockets.")
                 } else {
                     socket = new WebSocket("ws://{{.Host}}/room");
                     socket.onclose = function() {
                     alert("Connection has been closed.");
                     }
                     socket.onmessage = function(e) {
                         messages.append($("<li>").text(e.data));
                     }
                 }
            });
        </script>
    </body>
</html>
